@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Finished";
}

<section class="wrapper mt-0 h-100">
    <div class="row content-panel h-100 justify-content-center">
        <div class="col-lg-8 detailed">
            <h4 class="mb">@ViewBag.Mensaje</h4>
            
        </div>
    </div>
</section>

