@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
    PracticaEF.Data.Usuarios user = new PracticaEF.Data.Usuarios();
    user = (PracticaEF.Data.Usuarios)Session["session"];
}

    <h2>@user.Nombre</h2>
@{
    if (user.TipoUsuario == 1)
    {
        <h5>Usuario - Administrador</h5>
    }
    else
    {
        <h5>Usuario - Normal</h5>
    }
}
<p>@user.UserName - @user.Email</p>


