@model List<PracticaEF.Data.Propuestas>

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Propuestas";
}

<h3><i class="fa fa-angle-right mt-0"></i> Mis Propuestas</h3>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <h6><i class="fa fa-angle-right ml-3"></i> Aquí listamos todas las propuestas que tienes activas y que han finalizado.</h6><hr>
            <div class="row p-2">
                @{
                    foreach (var p in Model)
                    {
                        if (p.Estado == 1)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                <div class="content-panel pn">
                                    <div id="blog-bg" style="background: url(../Images/propuestas/@p.Foto) no-repeat center top;">
                                        <div class="badge badge-popular">ACTIVA</div>
                                        <div class="blog-title">@p.Nombre</div>
                                    </div>
                                    <div class="blog-text centered">
                                        <a href="~/Admin/VerDonacionesPropuesta/@p.IdPropuesta" class="btn btn-round btn-warning">Ver donaciones</a>
                                        <a href="~/Admin/ModificarPropuesta/@p.IdPropuesta" class="btn btn-round btn-info">Modificar</a>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    }
            </div>
            <div class="row p-2">
                @{ 
                    foreach (var p2 in Model)
                    {
                        if (p2.Estado == 0 || p2.FechaFin==DateTime.Today.Date)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                <div class="content-panel pn">
                                    <div id="blog-bg" style="background: url(../Images/propuestas/@p2.Foto) no-repeat center top;">
                                        <div class="badge badge-popular bg-danger">FINAL</div>
                                        <div class="blog-title">@p2.Nombre</div>
                                    </div>
                                    <div class="blog-text centered">
                                    <a href="~/Admin/VerDonacionesPropuesta/@p2.IdPropuesta" class="btn btn-round btn-warning">Ver donaciones</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                 }
            </div>
        </div>
    </div>
</div>
