<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 ">
                    <div class="foot-about">
                        <h2><a class="foot-logo" href="#"><img src="~/Images/foot-logo.png" alt=""></a></h2>
                    </div><!-- .foot-about -->
                </div><!-- .col -->

                <div class="col-12 col-md-4  mt-5 mt-md-0">
                    <h2>ProgramaciónWeb 3 - 2019 - 2C</h2>
                </div><!-- .col -->

                <div class="col-12 col-md-4  mt-5 mt-md-0">
                    <div class="foot-latest-news">
                        Fernando Moreno
                    </div><!-- .foot-latest-news -->
                </div><!-- .col -->

            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="m-0">
                    </p>
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->
